#!/usr/bin/env sh

# MAKE SURE this matches your swap partition's UUID
SWAP_RESUME_UUID="251a8ad6-5c96-4fbe-b2b0-52ca549f45a8"

# Extend the default command line with resume
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT resume=UUID=$SWAP_RESUME_UUID"

# vim:ft=sh:
