[General]
autoCloseIdleDaemon=true
contrastOpacity=188
copyPathAfterSave=true
disabledTrayIcon=true
savePath={{.chezmoi.homeDir}}/Pictures/Screenshots
showStartupLaunchMessage=false
startupLaunch=false
undoLimit=100
# See https://github.com/flameshot-org/flameshot/issues/4737
useX11LegacyScreenshot=true
