polkit.addRule(function (action) {
  if (
    action.id === "org.freedesktop.policykit.exec" &&
    action.lookup("program") === "/usr/lib/vmware/bin/vmware-setup-helper"
  )
    return polkit.Result.YES;
});
