#!/bin/sh

if [ ! -f "/home/aaron/.config/chezmoi/key.txt" ]; then
    age --decrypt --output "/home/aaron/.config/chezmoi/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "/home/aaron/.config/chezmoi/key.txt"
fi
