[Desktop Entry]
Version=1.0
Name=Dunnet
GenericName=Dunnet
Comment=Play dunnet (in emacs)
TryExec=/usr/bin/emacs
Exec=/usr/bin/emacs -nw -batch -l dunnet
Icon=emacs
Type=Application
Terminal=true
Categories=Game;
Keywords=Game;Dunnet;
