# This file is a custom link that opens fslite in chrome

[Desktop Entry]
Name=Fslite
Comment=Open fslite in browser
URL=https://fslite.vercel.app
Icon=/home/aaron/.local/share/icons/fslite.ico
Type=Link
Name[en_US]=Fslite
Name[es]=Fslite
