# This file is a custom link that opens fslite in chrome

[Desktop Entry]
Name=Fslite
Comment=Open fslite in browser
TryExec=xdg-open
Exec=xdg-open https://fslite.vercel.app
Icon=/home/aaron/.local/share/icons/fslite.ico
Terminal=false
Type=Application
StartupNotify=true
Name[en_US]=Fslite
Name[es]=Fslite
