[Desktop Entry]
Type=Application
Exec=welcome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Welcome
Name=Welcome
Comment[en_US]=Show a welcome window on startup with useful info
Comment=Show a welcome window on startup with useful info
