#! /usr/bin/env bash

# Path to store files
    destination="/mnt/chromeos/removable/Backup/Most_Recent/"
    # destination="/tmp/storebackup"
# Name of folder to store information about backup in
    backupInformation="backup-information"
# List of files to backup. relative to $HOME. place dot to break:
#   vscode/js/foo ---> destination/vscode/js/foo
#   vscode/js/./foo ---> destination/foo
    backupfiles=(.inputrc .vimrc .bash.config  .bash_logout  .bashrc .gitconfig .local/etc vscode .backup/backup.config)
# List of patterns to ignore in file/folder names(can be empty)
    ignorePatterns=('.git' '.npm' 'node_modules')
# String to place in list of packages to manually reinstall(optional)
    manuallyReinstall="None! Yay!"
