#!/usr/bin/env bash
set -euC -o pipefail

# Source utils
SOURCE_DIR="${CHEZMOI_SOURCE_DIR:-"$(chezmoi source-path)"}"
# shellcheck source=../.utils.sh
. "$SOURCE_DIR/.chezmoiscripts/.utils.sh"

# dconf.ini hash: {{ include "encrypted_dconf-backup.ini" | sha256sum }}
if ! has_cmd dconf; then
  abort 'dconf is not installed. Please install dconf to use this backup' 0
fi

if confirm "load dconf settings from source?"; then
  log 'Updating dconf'
  "${CHEZMOI_EXECUTABLE:-chezmoi}" decrypt "$SOURCE_DIR/encrypted_dconf-backup.ini" | dconf load -f /
fi

# Set the filetype in vim to sh: vim:ft=sh:
