#!/bin/bash
# this tars the '~/.root' directory and unzips it at '/'
# This script *MUST* ask confirmation! These are breaking changes!
# This script should aslo suggest running 'sudo update-grub' and 'sudo update-initramfs -u'

# rerun this script every time any file in the '~/.root' directory is changed:
# {{ $files_arr := glob ( joinPath .chezmoi.sourceDir "*dot_root" "**" "*" ) }}
# {{ $filename := ( osBase .chezmoi.sourceFile ) }}
#
# length so added/removed reruns
# {{$filename}} hash: {{ len $files_arr }}
#
# {{ range $i, $file := $files_arr }}
#   {{ if (stat $file) }}
#     name of file so rename changes:
#     {{$filename}} hash: {{$file}}
#
#     {{ if (not (stat $file).isDir) }}
#       hash so changed contents reruns:
#       {{$filename}} hash: {{ include $file | sha256sum }}
#     {{end}}
#
#   {{end}}
# {{end}}

set -euC -o pipefail
# Source utils
SOURCE_DIR="${CHEZMOI_SOURCE_DIR:-"$(chezmoi source-path)"}"
# shellcheck source=../.utils.sh
. "$SOURCE_DIR/.chezmoiscripts/.utils.sh"

ROOTBACKUP="$HOME/.root"
TARDESTFILE="$(mktemp)"
rm_exit "$TARDESTFILE"

confirm_message="yes, I would"
if ! confirm_exact "Would you like to update / with the contents of $ROOTBACKUP? (type '$confirm_message' to confirm)" "$confirm_message"; then
  abort "Aborting" 0
fi

# Find safe backup directory
BACKUPDIR_ROOT="/backup"
BACKUPDIR="$BACKUPDIR_ROOT"
declare -i I=1
while [ -d "$BACKUPDIR" ]; do
  BACKUPDIR="$BACKUPDIR_ROOT-$I"
  I=$((I + 1))
done

declare -i BACKUP=1
confirm "Would you like to keep backups of overwritten files in / in $BACKUPDIR?" || BACKUP=0

# Don't record /home/$USER/.root/, instead start at subdirs
find "$ROOTBACKUP/" -maxdepth 1 -mindepth 1 -type d -printf '%f\0' |
  tar -cf "$TARDESTFILE" -C "$ROOTBACKUP/" --null -T -

declare -i count=-1
if [ "$BACKUP" -ne 0 ]; then
  count=0
  # List files
  FILES=$(tar -tf "$TARDESTFILE" | sed 's/^/\//')
  for file in $FILES; do
    sudo_cmd true
    # Ensure unreadable files are still copied
    if sudo_cmd test -f "$file" && ! sudo_cmd cmp -s -- "$file" "$ROOTBACKUP/$file"; then
      # Ensure destination directory exists -- sudo so can be located at root
      sudo_cmd mkdir -p "$BACKUPDIR/$(dirname -- "$file")"
      # copy the file to the destination
      sudo_cmd cp -T -- "$file" "$BACKUPDIR/$file"
      count=$((count + 1))
    fi
  done
  if ! sudo_cmd test -d "$BACKUPDIR"; then # Didn't even create the directory
    log "No files will be overwritten! :)"
  fi
fi

msg="Last chance to safely stop overwrite of root"
if [ "${count}" -gt "-1" ]; then msg+=" ($count files)"; fi
msg+=". Press ctrl-c to cancel."
log "$msg"

# On ctrl-c, previous trap will occur, removing temporary file. backup will remain, but not a problem.
trap 'exit' INT
secs=$((5))
while [ "$secs" -gt 0 ]; do
  printf "%s\033[0K\r" "$secs"
  sleep 1
  secs=$((secs - 1))
done
trap '' INT

# Important! Overwrites files in ROOT!
# --no-same-owner to ensure owned by root (sudo)
sudo_cmd tar --no-same-owner -xf "$TARDESTFILE" -C /

rm_exit_cleanup "$TARDESTFILE"

log "NOTE: Please consider running"
log "    update-grub"
log "    update-initramfs -u   ||   mkinitcpio -P"
log "    dpkg-reconfigure console-setup -phigh   # On debian/ubuntu!!"
log "in the case that these files changed (or the corresponding commmands)."
wait_key
success
