#!/usr/bin/env bash

# dconf.ini hash: {{ include "".config/dconf/dconf-backup.ini"" | sha256sum }}

read -rep "load dconf settings from source? (yes) " confirmation
if [[ -z "$confirmation" || "${confirmation,,}" =~ ^\s*y(es)?\s*$ ]]; then
    dconf load / < {{ joinPath .chezmoi.sourceDir ".config/dconf/dconf-backup.ini" | quote }}
fi

