[Desktop Entry]
Name=FATE: Undiscovered Realms
Comment=Play this game on Steam
Exec=flatpak run com.valveSoftware.Steam steam://rungameid/276890
Icon=steam_icon_276890
Terminal=false
Type=Application
Categories=Game;

