################################################################################
# startup.service
#
# This service unit is for testing  systemd startup service
# By Aaron Dill
#
################################################################################
# This program should be placed in /usr/local/lib/systemd/system/.
# Create a symlink to it from the /etc/systemd/system directory.
################################################################################

[Unit]

Description=Runs /usr/local/bin/startup.sh

  
[Service]

ExecStart=/usr/local/bin/startup.sh


[Install]

WantedBy=multi-user.target
