# vim: set ft=systemd:
[Unit]
Description=File Backups
After=ping@%i.service
Requires=ping@%i.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/backup %i
# Don't verify backups, makes it much faster.
Environment="BACKUP_VERIFY=0"
Environment="BACKUP_VERBOSE=1"
