[Unit]
Description=File Backups
After=nas-ping.service
Requires=nas-ping.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/backup
# Don't verify backups, makes it much faster.
Environment="BACKUP_VERIFY=0"
Environment="BACKUP_VERBOSE=1"
