[Unit]
Description=File Backups
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=oneshot
User=aaron
ExecStart=/home/aaron/.local/bin/backup
# Don't verify backups, makes it much faster.
Environment="BACKUP_VERIFY=0"
