[Unit]
Description=Daily Backup Timer

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=15min
Unit=backup.service
DeferReactivation=true

[Install]
WantedBy=timers.target
