[Unit]
Description=Google chrome profile memory cache

[Install]
WantedBy=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/chrome-sync.sh
ExecStop=%h/.local/bin/chrome-sync.sh
