[Unit]
Description=Ping NAS
After=NetworkManager-wait-online.service

[Service]
Environment=NAS_HOST=pihole
Type=oneshot
# Intentionally not RemainAfterExit=yes so that it runs each time (since it may later become inaccessible)
ExecStartPre=echo "Waiting for NAS..."
ExecStart=bash -c 'while ! ping -c1 "$NAS_HOST" &>/dev/null; do sleep 5; done'
ExecStartPost=echo "NAS is accessible!"

[Install]
WantedBy=default.target
