## Set the osID such that linux distributions can be determined
{{- $osID := printf "%s-%s" .chezmoi.os .chezmoi.arch -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

encryption = "age"

[add]
secrets = "error"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1m2ey77de6wumjfghf0k8l6psazk90wwza9f2la9m8p6vl00p2ahsfd5n5v"

[git]
autoCommit = true
autoPush = true

[diff]
scriptContents = false

[data]
osID = {{ $osID | quote }}

