## Set the osID such that linux distributions can be determined
{{- $osID := printf "%s-%s" .chezmoi.os .chezmoi.arch -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end }}

encryption = "age"

[add]
secrets = "error"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1ykmzn7g46pfj7kc3yhu49v2k8uap76wquxd4us9p7fmxzr7mh4xs32ctkz"

[git]
autoCommit = true
autoPush = true

[diff]
scriptContents = false

[data]
osID = {{ $osID | quote }}

