#! /usr/bin/env bash

# Path to store files
    destination="/mnt/chromeos/removable/Backup/Most_Recent/"
    # destination="/tmp/storebackup"
# Name of folder to store information about backup in
    backupInformation="backup-information"
# List of files to backup. relative to $HOME. place dot to break:
#   vscode/js/foo ---> destination/vscode/js/foo
#   vscode/js/./foo ---> destination/foo
    backupfiles=(.config .config .local/bin .vim .bashrc.d  .bash_logout  .bashrc .local/etc vscode .backup/backup.config)
# List of patterns to ignore in file/folder names(can be empty)
    ignorePatterns=('.git' '.npm' 'node_modules' 'Cache*' '.config/Code' '.config/google-chrome')
# String to place in list of packages to manually reinstall(optional)
    manuallyReinstall="None! Yay!"
# Node Package manager to use for global packages
    NODE_PACKAGE_MANAGER="pnpm"
