# This file is a custom link that opens Slime rancher in steam

[Desktop Entry]
Name=Fate (Original)
Comment=Open Fate in Steam
TryExec=flatpak
Exec=flatpak run com.valvesoftware.Steam steam://rungameid/246840
Icon=/home/aaron/.var/app/com.valvesoftware.Steam/.local/share/Steam/steamapps/common/FATE/fate.ico
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;
X-GNOME-Keywords=Game;fate;steam;
