[Desktop Entry]
Name=FATE: The Traitor Soul
Comment=Play this game on Steam
TryExec=steam
Exec=steam steam://rungameid/303680
Icon=steam_icon_303680
Terminal=false
Type=Application
Categories=Game;

