# This file is a custom link that opens fslite in chrome

[Desktop Entry]
Name=Fslite
Comment=Open fslite in chrome
TryExec=google-chrome
Exec=google-chrome --password-store=basic --enable-features=WebUIDarkMode --force-dark-mode fslite.vercel.app
Icon=/home/aaron/.local/share/icons/fslite.ico
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;
OnlyShowIn=GNOME;Unity;
X-GNOME-Keywords=Network;fslite;
Name[en_US]=Fslite
Name[es]=Fslite
