# This file overrides the default behavior in order to use my local wrapper

[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
GenericName[es]=Navegador web
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Comment[es]=Accede a Internet.
# Still needs google chrome installed
TryExec=/usr/bin/google-chrome-stable
# Override to use PATH - local
Exec=google-chrome-stable %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[es]=Nueva ventana
Exec=google-chrome-stable

[Desktop Action new-private-window]
Name=New Incognito Window
Name[es]=Nueva ventana de incógnito
Exec=google-chrome-stable --incognito
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
