# This file is a custom link that opens Slime rancher in steam

[Desktop Entry]
Name=Slime Rancher
Comment=Open Slime Rancher in Steam
TryExec=steam
Exec=steam steam://rungameid/433340
Icon=/home/aaron/.var/app/com.valvesoftware.Steam/.local/share/Steam/steamapps/common/Slime Rancher/SlimeRancher_Data/Resources/UnityPlayer.png
Terminal=false
Type=Application
Categories=GNOME;Game;
OnlyShowIn=GNOME;Unity;
X-GNOME-Keywords=Game;slime;rancher;steam;
